* {
  box-sizing: border-box;
  margin: 0px;
}

.home-bg-container {
  background-color: #161625;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* //////////////search-container/////////////////////////////////////////////// */
.search-bg-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.search-container {
  flex: 1;
  max-width: 900px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-left: 24px;
  margin-right: 24px;
  background-color: #2f2f43;
  padding: 16px 14px;
  border-radius: 8px;
}

.search-icon {
  color: #94a3b8;
  width: 14px;
  height: 14px;
}
.search-input {
  flex: 1;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #94a3b8;
  margin-left: 10px;
  background-color: transparent;
  border: none;
  outline: none;
}

/* /////////////////////////tabs-container/////////////////////////////////////////////////////////////////// */
.home-tabs-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding-left: 24px;
  padding-right: 24px;
}
.tab-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  max-width: 200px;
  min-width: 132px;
  padding-top: 26px;
  padding-bottom: 26px;
}

.tabs-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 16px;
}

.tabs-heading-1 {
  margin-bottom: 0px;
}

.tabs-total-count {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
}

.confirmed {
  color: #ff073a;
}
.active {
  color: #007bff;
}
.recovered {
  color: #28a745;
}
.deceased {
  color: #6c757d;
}
@media screen and (min-width: 768px) {
  .search-container {
    padding: 24px 32px;
  }
  .search-icon {
    width: 18px;
    height: 18px;
  }
  .search-input {
    font-size: 16px;
    line-height: 24px;
  }
  .tab-container {
    padding-top: 48px;
    padding-bottom: 42px;
    max-width: 264px;
    height: 232px;
  }
  .tabs-heading {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
  }
  .tabs-total-count {
    font-size: 24px;
    line-height: 24px;
    margin-top: 32px;
  }
}
